# Temp Files #
##############
*~
*.tmp*
*.orig
*.cache
*.log

# Autotools #
#############
*.in
.deps
config.guess
config.h
config.h.in
configure
config.sub
config.status
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
Makefile

# Build #
#########
bin
build
libprosopon*
.libs

# Doc Files #
#############
doc
gh-pages

# Project Files #
#################
.project

# Version Control #
###################
.hg
.bzr
.svn

# OS Files #
############
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

# Xcode#
########
*.pbxuser
*.perspective
*.perspectivev3
*.xcuserdatad